@import "tailwindcss";

.welcome-section-main {
  @apply grid grid-cols-3 grid-rows-6 xl:grid-cols-2 sm:grid-rows-2 xl:gap-4 mt-32 mx-auto p-2 sm:p-10 rounded-4xl md:rounded-[96px] bg-gradient-to-b from-base-300;
}

.welcome-section-left-side-1 {
  @apply h-full w-full flex-col col-span-2 
  max-sm:col-span-3 
  max-sm:row-span-2 
  xl:col-span-1 
  py-4;
}

.welcome-section-left-side-2 {
  @apply h-full w-full 
  max-xl:col-span-3 
  max-sm:col-span-3 
  max-sm:row-span-3 
  max-sm:row-start-4 
  sm:row-start-2 
  xl:row-start-2;
}

.welcome-section-right-side {
  @apply w-full h-full grid
  max-sm:col-span-3 
  max-sm:row-start-7
  max-xl:col-start-1
  max-xl:col-span-3
  max-xl:row-span-2 
  xl:row-span-2 
  justify-self-center;
}

.welcome-section-header {
  @apply min-[500px]:text-7xl text-5xl font-bold mb-8;
}

.welcome-section-header-handwrite {
  @apply min-[500px]:text-4xl text-xl font-medium mb-8;
}

.welcome-section-buttons-container {
  @apply flex flex-row gap-4 text-lg;
}

.welcome-section-button-container {
  @apply w-full h-16 justify-center items-center text-white font-bold text-xl;
}

.welcome-section-button {
  @apply bg-[#2c8bb8] cursor-pointer rounded-xl text-shadow-lg hover:bg-primary active:bg-gray-950 hover:gap-4 gap-2 transition-all relative;
}

.welcome-section-links-container {
  @apply flex flex-row gap-8 text-lg mt-10 xl:justify-start justify-center;
}

.link-color {
  @apply border-2 border-accent/40 hover:border-accent text-accent
    transition-all duration-300 hover:scale-110 active:scale-100;
}

.link-box {
  @apply w-12 h-12 sm:w-20 sm:h-20 rounded-xl cursor-pointer;
}

.badges-container {
  @apply grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 gap-4 mb-8 text-lg;
}

.badge {
  @apply w-full bg-neutral text-neutral-content border-0 shadow-2xl h-14 px-4 py-2 relative items-center justify-center text-lg;
}

.code-container {
  @apply flex h-full w-full mx-auto p-1 sm:p-4;
}

.mockup-code-container {
  @apply mockup-code shadow-2xl xl:text-lg md:text-base sm:text-sm text-xs w-full h-full;
}
