@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}
@import "./components/header.css";
@import "./sections/section-welcome.css";
@import "./sections/section-portfolio.css";
@import "./sections/section-about.css";
@import "./sections/section-contact.css";
@import "./components/aurora.css";
@import "./components/border-blick.css";

@utility tabs {
  @apply justify-center items-center p-4;
}

@utility tab {
  @apply flex flex-col h-32 w-1/3  sm:text-xl sm:font-bold;
}

@layer utilities {
  /* 1. Останній tab — прибрати праве закруглення у before */
  .tabs-lift
    > .tab:last-of-type:is(.tab-active, [aria-selected="true"]):not(
      .tab-disabled,
      [disabled]
    ),
  .tabs-lift > .tab:last-of-type:is(input:checked, label:has(:checked)) {
    &::before {
      background-image: var(--radius-start); /* тільки ліве закруглення */
    }
  }

  /* 2. Якщо вибраний останній tab — зняти закруглення у правого краю контенту */
  .tabs-lift
    > .tab:last-of-type:is(.tab-active, [aria-selected="true"])
    + .tab-content,
  .tabs-lift > .tab:last-of-type:has(:checked) + .tab-content {
    border-top-right-radius: 0 !important;
  }
}

.full-center {
  @apply flex items-center justify-center h-full w-full;
}

.screen-center {
  @apply flex items-center justify-center h-screen w-screen;
}

.full {
  @apply h-full w-full;
}

.center {
  @apply flex items-center justify-center;
}

.center-between {
  @apply flex items-center justify-between;
}

.bottom {
  @apply flex items-end justify-center;
}

.up {
  @apply flex items-start justify-center;
}

.left {
  @apply flex items-center justify-start;
}

.right {
  @apply flex items-center justify-end;
}
